:root {
  --color-50: #f3f1ff;
  --color-100: #ebe5ff;
  --color-200: #d9ceff;
  --color-300: #bea6ff;
  --color-400: #9f75ff;
  --color-500: #843dff;
  --color-600: #7916ff;
  --color-700: #6b04fd;
  --color-800: #5a03d5;
  --color-900: #4b05ad;
  --color-950: #2c0076;
}